ul,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}


ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.list {
    margin: 0;
    padding: 0;
    list-style: 0;
}




.section {
    padding-top: 94px;
    padding-bottom: 94px;
}

.section-nopadding {
    padding-top: 0px;
}



img {
    display: block;
}