/* foot */
.page-footer {
    background-color: var(--shadow-grey);
    padding-top: 60px;
    padding-bottom: 60px;

    & .logo {
        display: inline-block;
        margin-bottom: 20px;

    }

    & p {
       color: var(--text-white);
    
        }

}

.page-footer__span {
    color: var(--text-white);
}

.page-footer__adress {
    font-style: normal;
    @include font(400, 14, 1.7, 0.03);


}


.page-footer__contact a {
    text-decoration: none;
    @include font(400, 14, 1.7, 0.03);
    color: rgba(255, 255, 255, 0.6);
    margin-top: 9px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    & li :hover,
    & li :focus {
            color: var(--accent-color);
        }

}


.page-footer__email {
    margin-top: 9px;
    margin-bottom: 9px;
}

.foot-container {
    display: flex;
}

.foot-social-media {

    margin-left: 70px;

}

.foot-social-media_title {
    font-family: 'Roboto';
    font-style: normal;
    @include font(700, 14, 1.1, 0.03);
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    margin-bottom: 20px;

    margin-top: 10px;
}

.foot-social-media_items {
    width: 44px;
    height: 44px;

    &:not(:last-child) {
            margin-right: 10px;
        }

}

.foot-social-media_list {
    @extend %flex-align;
    justify-content: center;
}

.foot-social-media_link {
    width: 100%;
    height: 100%;
    @extend %flex-align;
    justify-content: center;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);


    &:hover,
    &:focus {
            background-color: #2196F3;
            color: #ffffff;
        }
}

.foot-social-media_icons {
    fill: currentColor;
}

.footer-form {

    margin-left: 108px;
}

.footer-form__label {
    font-family: 'Roboto';
    font-style: normal;
    @include font(700, 14, 1.1, 0.03);
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 0px;
}


.footer-form__div {
    margin-top: 20px;
    display: flex;
}


.footer-form_mail {
    width: 358px;
    height: 50px;
    background-color: #2F303A;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding-left: 16px;

    &:hover,
    &:focus {
            background-color: #2F303A;
            outline: transparent;
        }
}

.footer-form_button {

    font-family: 'Roboto';
    font-style: normal;
    @include font(700, 16, 1.8, 0.06);
    @extend %flex-align;
    text-align: center;
    color: #FFFFFF;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    width: 200px;
    height: 50px;
    margin-left: 12px;
    padding-left: 28px;
    cursor: pointer;

}

.footer-form_icon {
    fill: #FFFFFF;
    margin-left: 10px;

}