.logo {

    color: var(--accent-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.11;
    letter-spacing: 0.03em;
    text-decoration: none;



}

.logo-header {
    color: var(--text-black);

}

.header-list {
    display: flex;
    margin-left: 93px;
}

.header-list .header-list__item:not(:last-child) {
    margin-right: 50px;
}

.header-list__item {
    position: relative;
}

ul {
    list-style: none;
}

.header-list__link {
    color: var(--primari-text-color);
    text-decoration: none;
    display: block;
    padding-top: 32px;


    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.header-list__link:hover,
.header-list__link:focus {
    color: var(--accent-color);
}

.link {
    color: var(--hover-color);
    color: var(--accent-color);
    text-decoration: none;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;


    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}



.current::after {
    position: absolute;
    bottom: 0px;
    right: 0px;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #2196F3;
    border-radius: 2px;
}

.link.current {
    color: var(--accent-color);
}



.contact-info {
    display: flex;
    margin-left: auto;
}

.contact-info__svg {
    margin-right: 10px;
    fill: currentColor;

}


.contact-info a {
    color: var(--title-text-color);
    text-decoration: none;
    display: flex;
    align-items: center;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-info .contact-info__mail+.contact-info__tel {
    margin-left: 50px;
}


.contact-info a:hover,
.contact-info a:focus {
    color: var(--accent-color);
}