
.clients-section {
 
    padding-top: 60px;
    padding-bottom: 60px;
    
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}


.clients {
    @include font(700, 36, 1.1, 0.03);
    @extend %roboto-normal;
    text-align: center;
    color: getColor('primari-text-color');
    margin-bottom: 30px;
   
    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
}


.clients-content__list {

    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-bottom: -30px;
    align-items: center;

    @media screen and (min-width: 768px) {
        justify-content: center;
    }
    

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}
    

.clients-content__item {
    width: 210px;
    height: 92px;
    flex-basis: calc((100% - 60px) / 2);
    margin-left: 30px;
    margin-bottom: 30px;
   

    



    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 90px) / 3);
        
    }

    @media screen and (min-width: 1200px) {

        margin-bottom: 0px;
    
    }

   
}

.clients-content__link {
    @extend %width-height;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    background-color: getColor('text-white');
    @extend %flex-align;
    color: getColor('grey');


    transition-property: color, border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
   
    &:hover,
    &:focus {
            border-color: getColor('accent-color');
            color: getColor('accent-color');
        }
}


.clients-content__icons {
    fill: currentColor;
}

