/* HERO */


.hero {
    background-color: getColor('shadow-grey');
    padding-top: 118px;
    padding-bottom: 118px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(to right,
                    rgba(47, 48, 58, 0.4),
                    rgba(47, 48, 58, 0.4)), url(../images/header1.jpg);



    @media screen and (min-width: 1200px) {
        padding-top: 200px;
        padding-bottom: 200px;
    }
    


    @media (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
            & {
                background-image: linear-gradient(to right, #2f303a66 40%, #2f303a66 40%),
                    url('../images/header1_2x.jpg');
            }
        }
    
        @include tablet {
            background-image: linear-gradient(to right, #2f303a66 40%, #2f303a66 40%),
                url('../images/header2.jpg');
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                & {
                    background-image: linear-gradient(to right, #2f303a66 40%, #2f303a66 40%),
                        url('../images/header2_2x.jpg');
                }
            }
        }
    
        @include desktop {
            background-image: linear-gradient(to right, #2f303a66 40%, #2f303a66 40%),
                url('../images/header3.jpg');
    
            @media (min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
                & {
                    background-image: linear-gradient(to right, #2f303a66 40%, #2f303a66 40%),
                        url('../images/header3_2x.jpg');
                }
            }
        }

    



                &__title {
                        color: getColor('text-white');
                        @include font(900, 26, 1.4, 0.06);   
                        text-transform: uppercase;
                        margin-top: 0;
                        margin-bottom: 30px;

                        
                     @media screen and (min-width: 1200px) {
                        @include font(900, 44, 1.4, 0.06); 
                   }
  }







.hero__button {
    font-family: 'Roboto';
    background-color: getColor('accent-color');
    color: getColor('text-white');
    @include font(700, 16, 1.8, null);
    border: none;
    padding: 10px 20px 10px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    @include transition(background-color, 250ms, cubic-bezier(0.4, 0, 0.2, 1));
 

    &:hover,
    &:focus {
            background-color: getColor('shadow-blue');
        }
}
}

.advantages {
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.advantages-list {
    display: flex;
  
    flex-wrap: wrap;

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
}

.advantages-list__content {
    width: 100%;
    height: 120px;
    background-color: getColor('shadow-white');
    margin-bottom: 30px;
    justify-content: center;
    border-radius: 4px;
    @extend %flex-align;


}

.advantages-list__item {

    flex-basis: 100%;

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px) / 2);
        &:not(:last-child) {
                margin-right: 30px;
            }
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 60px) / 4);
        &:not(:last-child) {
                margin-right: 30px;
            }
    }

   
}


.advantages-list__title {
    @include font(700, 14, 1.1, 0.03);
    margin-bottom: 10px;
    display: flex;
    justify-content: center;

    @media screen and (min-width: 768px) {
        justify-content: flex-start;
    }


}

.advantages-list__text {
    color: getColor('title-text-color');
    @include font(400, 14, 1.7, 0.03);
    font-family: 'Roboto';
    margin-bottom: 30px;
}