/* MODAL */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    @extend %width-height;
    background-color: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms linear, visibility 250ms linear;

    &.is-hidden &-modal {
        transform: translate(-50%, -50%) scale(0);

    }


    &.is-hidden {
            opacity: 0;
            visibility: hidden;
            pointer-events: none;
        }
}

.backdrop-modal {
    


    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms linear;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
}

.backdrop-button {

    width: 30px;
    height: 30px;
    @extend %flex-align;
    justify-content: center;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    color: getColor('text-white');;
    background-color: getColor('text-white');
    margin-left: 450px;
    margin-top: -25px;
    cursor: pointer;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}


.backdrop-icon:hover,
.backdrop-icon:focus {
    fill: getColor('accent-color');
}

.form-title {
    @extend %roboto-normal;
    @include font(700, 20, 1.1, 0.03);
    text-align: center;
    color: getColor('primari-text-color');
    margin-bottom: 30px;
}

.form-label {
    position: relative;
    margin-bottom: 10px;
}

.form-input {
    width: 100%;
    height: 40px;


    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color 250ms linear;
    margin-top: 4px;


    &:hover,
    &:focus {
            border-color: getColor('accent-color');
            outline: transparent;
        }
    
    &:hover+svg,
    &:focus+svg {
            fill: getColor('accent-color');
        }
}

.form-label_comment {
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px 12px 16px;

    resize: none;
    max-height: 250px;
    margin-top: 4px;

    &:hover,
    &:focus {
            border-color: getColor('accent-color');
            outline: transparent;
        }
    
    &::placeholder {
            color: rgba(117, 117, 117, 0.5);
        }
}


.form-button {
    @extend %roboto-normal;
    @include font(700, 16, 1.8, 0.06);
    display: block;

    color: getColor('text-white');
    margin: 30px 123px 40px 123px;
    background: getColor('accent-color');
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    padding: 10px 52px 10px 52px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    @include transition ( background-color, 250ms, cubic-bezier(0.4, 0, 0.2, 1));

    &:hover,
    &:focus {
        background-color: getColor('shadow-blue');

    }

}



.form-label_style {


    @extend %roboto-normal;
    @include font(400, 12, 1.1, 0.01);
    color: getColor('title-text-color');
}

.form-label_title {
    margin-bottom: 4px;
}

.form-label_politic {
    @extend %flex-align;

    &::before {
            content: " ";
            width: 16px;
            height: 16px;
            border: 2px solid #212121;
            border-radius: 2px;
            display: block;
            margin-right: 10px;
            cursor: pointer;
    
        }
}


.form-label_checkbox:checked+label::before {
    border: none;
    background-color: getColor('accent-color');
    background-image: url(../images/Vector\ \(6\).svg);
    background-repeat: no-repeat;
    background-position: center;

}

.form-label_deal {
    color: getColor('accent-color');
    margin-left: 5px;
}

.form-label_rules {
    padding-left: 12px;
}

.form-label_icon {
    position: absolute;
    top: 55%;
    left: 12px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);


}



.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    overflow: hidden;
    white-space: nowrap;
    opacity: 0;
}