/* team */

.team-section {
    background-color: getColor('shadow-white');
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}

.team-section_title {
    @include font(700, 36, 1.2, 0.03);
    margin-bottom: 30px;
    text-align: center;

    @media screen and (min-width: 1200px) {
        margin-bottom: 50px;
    }
   
}

.team-section_content {
    flex-wrap: wrap;
    display: flex;

    @media screen and (min-width: 1200px) {
        flex-wrap: nowrap;
    }
    

    & li {
            background-color:  getColor('text-white');
    
        }

        & h3 {
                @include font(500, 16, 1.2, 0.03);
                    text-align: center;
                    margin-top: 30px;
                    margin-bottom: 10px;

                   
                }
        
        & p {
                @include font(400, 16, 1.2, 0.03);
                    
                    text-align: center;
                    color: getColor('title-text-color');
                }

}

.team-social__media {
   
    justify-content: center;
    @extend %flex-align;
    margin-top: 16px;

}

.team-social__list {
    width: 44px;
    height: 44px;
    margin-bottom: 30px;

}

.team-social__icons {
    fill: currentColor;

}


.team-section_link {
    @extend %width-height;
    @extend %flex-align;
    justify-content: center;
    border-radius: 50%;
    background-color: getColor('text-white');
    color: getColor('grey');

    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
            background-color: getColor('accent-color');
            color: getColor('text-white');
        }
}

.team-section_list {
    flex-basis: 100%;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    &:not(:last-child) {
        
        margin-bottom: 30px;

        @media screen and (min-width: 768px) {
            margin-right: 30px;
        }
    }

    @media screen and (min-width: 768px) {
        flex-basis: calc((100% - 60px) / 2);
    }

    @media screen and (min-width: 1200px) {
        flex-basis: calc((100% - 60px) / 4);
    }
}

/* team */